/* hover button for book now */
 .header #btn-background-slide::before {
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	z-index: -1;
 	/*border-radius: 25px;*/
 	background-color: var(--accent-color);

 	transition: transform 300ms ease-in-out;
 	transform: scaleX(0);
 	transform-origin: left;
 }

 .header #btn-background-slide:hover::before,
 .header #btn-background-slide:focus::before {
 	transform: scaleX(1);
 }

 .header #btn-background-slide {
 	transition: color 300ms ease-in-out;
 	z-index: 1;
 }

 .header #btn-background-slide:hover,
 .header #btn-background-slide:focus {
 	color: white;
 }


.navbar-nav #btn-border-underline::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: var(--border-size);
	background-color: var(--accent-color);
	transition: transform 300ms ease-in-out ;
	transform: scaleX(0);
}

.navbar-nav #btn-border-underline:hover::before,
.navbar-nav #btn-border-underline:focus::before {
	transform: scaleX(1);
}