.menu-btn {
    position: relative;
    left: 25%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn_burger {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #314e52;
    transition: all .5s ease-in-out;   
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #314e52;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


@media(min-width: 300px) and (max-width: 768px) {
	.menu-btn {
		display: flex;
	}
	.navbar-collapse {
		/*display: none;*/
	}
	.navbar-nav  {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2f3640;
		top: 80px;
		left: -100%;
		text-align: center;
		z-index: 3;
		transition: all .5s;
	}

	#Nav ul {
		display: block;
	}
	
	#Nav a {
		font-size: 28px;
	}

	.navbar-nav.active {
		left: 0;
	}
}