/* STYLES FOR ADD NEW COURSE */

.add-course-overlay-bg {
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.add-course-overlay-bg-active {
	visibility: visible;
	opacity: 1;
}

.add-new-course-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 2;

/*glass morphism*/
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #000;
	border-radius: 5px;
	backdrop-filter: blur(3px);
	border: 2px solid transparent;
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.0.3);
	line-height: 1.5;
}

.add-new-course-container .head-addCourse {
	margin: 30px 10px 10px 10px;
}

.head-addCourse h2 {
	font-size: 31px;
}

#createCourse {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#createCourse .inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.row #createCourse .form-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.row #createCourse .form-row .form-group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#createCourse .form-control {
	font-size: 21px;
	margin: 10px;
}

.add-new-course-container #createCourse .form-row .form-group input {
	margin: 5px 10px;
	padding: 3px;
	/*width: 80%;*/
	font-size: 21px;
}

#createCourse .btn-submit {
	font-size: 21px;
	padding: 3px 25px;
	margin: 10px 10px 10px 10px;
}

#createCourse .btn-submit:hover {
	background-color: #f2a154;
	color: #D4F1F4;
}

.add-new-course-container #createCourse .form-courseDesc input {
	margin: 0px 10px;
	padding: 3px;
	/*width: 80%;*/
	font-size: 21px;
}

.add-new-course-container #createCourse div {
	padding: 5px;
}

@media(max-width: 450px) {
	.add-new-course-container {
		width: 300px;
	}
}

@media(max-width: 350px) {
	.add-new-course-container {
		width: 250px;
		height: 350px;
	}

	.head-addCourse h2 {
		font-size: 24px;
	}

	.add-new-course-container #createCourse .form-row .form-group input {
		font-size: 18px;
	}

	.add-new-course-container #createCourse .form-courseDesc input {
		font-size: 18px;
	}

	#createCourse .btn-submit {
		font-size: 21px;
		padding: 2px 20px;
		margin: 20px 10px 0px 10px;
	}
}