/* login styles*/

.overlay-login-bg {
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.login-bg-active {
	visibility: visible;
	opacity: 1;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 2;

/*glass morphism*/
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #000;
	border-radius: 5px;
	backdrop-filter: blur(3px);
	border: 2px solid transparent;
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.0.3);
	line-height: 1.5;
}

.login-container .head-login {
	margin: 30px 10px 10px 10px;
}

.head-login h2 {
	font-size: 31px;
}

#loginUser {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#loginUser .inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loginUser .form-control {
	font-size: 21px;
	margin: 10px;
}

#loginUser .btn-submit {
	font-size: 21px;
	padding: 3px 25px;
	margin: 10px 10px 10px 10px;
}

#loginUser .btn-submit:hover {
	background-color: #f2a154;
	color: #D4F1F4;
}

#loginUser .btn {
	font-size: 21px;
}

.login-close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 50px;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
}

@media(min-width: 300px) and (max-width: 600px) {

	.login-container {
		width: 70%;
	}
}	