/* STYLES FOR REGISTER */

.navbar .navbar-collapse .navbar-nav .nav-item {
	padding: 10px;
	font-size: 18px;
	list-style-type: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link, .loginButton, .regButton, .profileButton {
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	position: relative;
	cursor: pointer;

	--background-color: #f7f6e7;
	--border-size: 2px;
	--accent-color: #f7f6e7;
}

/* */

.overlay-register-bg {
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.register-bg-active {
	visibility: visible;
	opacity: 1;
}

.register-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 2;

/*glass morphism*/
	width: 500px;
	height: auto;
	background-color: rgba(255, 255, 255, 0.1);
	color: #000;
	border-radius: 5px;
	backdrop-filter: blur(3px);
	border: 2px solid transparent;
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.0.3);
	line-height: 1.5;}
}

.head-reg {
	display: flex;
}

.head-reg h2 {
	font-size: 31px;
	margin: 30px 10px 0px 10px;
}

#registerUser {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#registerUser .inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

#registerUser .form-control {
	font-size: 21px;
	margin: 10px 10px 0px 10px;
}

#registerUser .btn-register {
	font-size: 21px;
	padding: 3px 25px;
	margin: 20px 10px 10px 10px;
}

#registerUser .btn-register:hover {
	background-color: #f2a154;
	color: #D4F1F4;
}

#registerUser:last-child {
	font-size: 21px;
	margin: 10px 0px 30px 0px;
}

.reg-close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 50px;
	height: 25px;
	width: 25px;
	display: flex;
	align-items: center;
}

@media(min-width: 300px) and (max-width: 600px) {

	.register-container {
		width: 70%;
	}

	.register-container .inputs {
		flex-direction: column;
	}

	.register-container .inputs input {
		font-size: 18px;
	}
}