* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Truculenta', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #f2a154;
	height: 80px;
	text-shadow: 2px 2px 2px #314e52;
}

.navbar .logo .navbar-brand {
	text-decoration: none;
	color: #f7f6e7;
}

.navbar .logo .navbar-brand h2 {
	font-size: 30px;
	letter-spacing: 4px;
}

.navbar .logo .navbar-brand p {
	font-size: 15px;
}

.navbar .navbar-collapse .navbar-nav {
	display: flex;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	padding: 10px;
	font-size: 18px;
	list-style-type: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link, .loginButton {
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	position: relative;

	--background-color: #f7f6e7;
	--border-size: 2px;
	--accent-color: #f7f6e7;
}

.landing-page {
	background: #e7e6e1;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5%;
	/*text-shadow: 3px 2px 2px #05445E;*/
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #D4F1F4;
}

.header .info {
	color: #314e52;
	text-decoration: none;
	margin: 10px 10px 10px 50px;
}

.header h1 {
	font-size: 33px;

}

.header .lead {
 	font-size: 21px;
}

.header .btn {
	width: 40%;
	border: 2px solid;
	/*border-radius: 25px;*/
	padding: 5px;
	font-size: 24px;
	text-align: center;
	position: relative;

/* css variables */
	--background-color: #e3e3e3;
	--border-size: 2px;
	--accent-color: #314e52;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	overflow: hidden;
}

.container .image-container {
	display: block;
	overflow: hidden;
}

.container .image-container .image {
	width: 100%;
	max-height: 300px;
}

.container .image-container .description {
	position: absolute;
	top: 55%;
	left: 53%;
	text-shadow: 2px 3px 2px black;
	color: #f7f6e7;

/*	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	border-radius: 5px;
	backdrop-filter: blur(3px);
	border: 2px solid transparent;
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.0.3);
	line-height: 1.5;
	z-index: 2;*/
}

.prev, .next {
	position: absolute;
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	width: auto;
	padding: 16px;
	/*margin-top: 22px;*/
	color: #bbb;
	font-weight: bold;
	font-size: 30px;
	border-radius: 0px 3px 3px 0px;
	cursor: pointer;
	user-select: none;
}

.next {
	right: 5%;
	/*border-radius: 3px 0px 0px 3px;*/
}

.prev {
	left: 50%;
}

.prev:hover, .next:hover {
	/*background-color: black;*/
	color: #f2a154;
}

.dot-container {
	display: flex;
	position: absolute;
	top: 65%;
	/*text-align: center;*/
}

.dot {
	/*position: inherit;*/
	margin: 0px 10px;
	top: -40px;
	height: 8px;
	width: 36px;
	background-color: #bbb;
	border-radius: 0px;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
	transition: all .5s;
}

.active, .dot:hover {
	background-color: #f2a154;
}

.content {
	/*color: white;*/
	grid-column: 2/3;
	grid-row:; 2/3;
	text-align: justify;
	padding: 12px 60px;
	letter-spacing: 1px;
}

.fade {
	animation: fade .3s ease-in-out;
}

@keyframes fade {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


/*.container img {
	height: 300px;
	width: 100%;
	object-fit: cover;
}*/

.footer {
	background: #f2a154;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: 3px 2px 2px #314e52;
	color: #f7f6e7;
}

.footer p {
	padding: 0px 10px;
}


/* hover buttons */
 .header #btn-background-slide::before {
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	z-index: -1;
 	/*border-radius: 25px;*/
 	background-color: var(--accent-color);

 	transition: transform 300ms ease-in-out;
 	transform: scaleX(0);
 	transform-origin: left;
 }

 .header #btn-background-slide:hover::before,
 .header #btn-background-slide:focus::before {
 	transform: scaleX(1);
 }

 .header #btn-background-slide {
 	transition: color 300ms ease-in-out;
 	z-index: 1;
 }

 .header #btn-background-slide:hover,
 .header #btn-background-slide:focus {
 	color: white;
 }


.navbar-nav #btn-border-underline::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: var(--border-size);
	background-color: var(--accent-color);
	transition: transform 300ms ease-in-out ;
	transform: scaleX(0);
}

.navbar-nav #btn-border-underline:hover::before,
.navbar-nav #btn-border-underline:focus::before {
	transform: scaleX(1);
}

/*lagyan ng auto swipe na pictures para sa overview kung ano yung booking system and steps*/


/* STYLES FOR COURSE */
.course-container {
	width: 100%;
	min-height: 300px;
	height: 100%;
}

.course-container .row {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 50px;
}

.course-container .row div section h2 {
	font-size: 32px;
}

.course-container .row div section p {
	font-size: 24px;
}

@media(min-width: 600px) and (max-width: 900px) {
	.landing-page .container .image-container .description {
		font-size: 18px;
		top: 52%;
		width: 30%;
	}

	.landing-page .container .dot-container {
		display: none;
	}

}

@media(min-width: 300px) and (max-width: 599px) {
	.landing-page .container {
		display: none;
	}

	.landing-page {
		display: grid;
		grid-template-columns: 1fr;
	}

}




.menu-btn {
    position: relative;
    left: 25%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /*border: 3px solid white;*/
}

.menu-btn_burger {
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px black;*/
    box-shadow: 0px 2px 0px #314e52;
    transition: all .5s ease-in-out;   
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px black;*/
    box-shadow: 0px 2px 0px #314e52;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


@media(min-width: 300px) and (max-width: 768px) {
	.menu-btn {
		display: flex;
	}
	.navbar-collapse {
		/*display: none;*/
	}
	.navbar-nav  {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2f3640;
		top: 80px;
		left: -100%;
		/*left: 0;*/
		text-align: center;
		z-index: 3;
		transition: all .5s;
	}

	#Nav ul {
		display: block;
		/*margin: 50px 0;*/
	}
	
	#Nav a {
		font-size: 28px;
	}

	.navbar-nav.active {
		left: 0;
	}
}