* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Truculenta', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #f2a154;
	height: 80px;
	text-shadow: 2px 2px 2px #314e52;
}

.navbar .logo .navbar-brand {
	text-decoration: none;
	color: #f7f6e7;
}

.navbar .logo .navbar-brand h2 {
	font-size: 30px;
	letter-spacing: 4px;
}

.navbar .logo .navbar-brand p {
	font-size: 15px;
}

.navbar .navbar-collapse .navbar-nav {
	display: flex;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	padding: 10px;
	font-size: 18px;
	list-style-type: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link, .loginButton {
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	position: relative;

	--background-color: #f7f6e7;
	--border-size: 2px;
	--accent-color: #f7f6e7;
}

.landing-page {
	background: #e7e6e1;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5%;
	/*text-shadow: 3px 2px 2px #05445E;*/
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.logout-container section h1 {
	font-size: 32px;
	padding: 20px 0px;
}

.logout-container section .btn {
	font-size: 24px;
	color: black;
}

.logout-container section .btn {
	width: 150px;
	border: 2px solid;
	padding: 5px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	color: #314e52;
	background-color: #f7f6e7;
}

.logout-container section .btn:hover {
	color: #f7f6e7;
	background-color: #f2a154;
	transition: 0.5s;
}



.footer {
	background: #f2a154;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: 3px 2px 2px #314e52;
	color: #f7f6e7;
}

.footer p {
	padding: 0px 10px;
}

/*lagyan ng auto swipe na pictures para sa overview kung ano yung booking system and steps*/


/* STYLES FOR LOGOUT */


@media(min-width: 600px) and (max-width: 900px) {
	.landing-page .container .image-container .description {
		font-size: 18px;
		top: 52%;
		width: 30%;
	}

	.landing-page .container .dot-container {
		display: none;
	}

}

@media(min-width: 300px) and (max-width: 599px) {
	.landing-page .container {
		display: none;
	}

	.landing-page {
		display: grid;
		grid-template-columns: 1fr;
	}

}