* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Truculenta', sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #f2a154;
	height: 80px;
	text-shadow: 2px 2px 2px #314e52;
}

.navbar .logo .navbar-brand {
	text-decoration: none;
	color: #f7f6e7;
}

.navbar .logo .navbar-brand h2 {
	font-size: 30px;
	letter-spacing: 4px;
}

.navbar .logo .navbar-brand p {
	font-size: 15px;
}

.navbar .navbar-collapse .navbar-nav {
	display: flex;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	padding: 10px;
	font-size: 18px;
	list-style-type: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link, .loginButton, .profileButton {
	padding: 10px;
	text-decoration: none;
	color: #f7f6e7;
	position: relative;
	cursor: pointer;

	--background-color: #f7f6e7;
	--border-size: 2px;
	--accent-color: #f7f6e7;
}

.footer {
	background: #f2a154;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: 3px 2px 2px #314e52;
	color: #f7f6e7;
}

.footer p {
	padding: 0px 10px;
}

/* STYLES FOR PROFILE */

#profileContainer {
	display: grid;
	grid-template-columns: 200px auto;
}

.user-infos {
	background: #e7e6e1;
	height: 100vh;
}

.user-infos section {
	margin: 20px;
}

.enrolled-courses .table-infos {
	margin: 20px;
	font-size: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media(max-width: 600px) {
	#profileContainer {
		margin: 20px;
		grid-template-columns: 1fr;
	}
	.user-infos {
		height: auto;
	}
	.enrolled-courses .table-infos {
		margin: 10px 0px;
		height: 50vh;
	}
}